apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: website-db-argocd-kustomize-kyverno-grafana-loki-tempo-pgadmin
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/exea-centrum/website-db-argocd-kustomize-kyverno-grafana-loki-tempo-pgadmin.git
    targetRevision: main
    path: manifests/base
    kustomize:
      buildOptions: --load-restrictor=LoadRestrictionsNone
  destination:
    server: https://kubernetes.default.svc
    namespace: davtrowebdb
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
  retry:
    limit: 5
    backoff:
      duration: 10s
      factor: 2
      maxDuration: 2m
