apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: davtrowebdbvault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: obsidiandynamics/kafdrop:latest # Alternatywa dla Kafka UI
          ports:
            - containerPort: 9000
          env:
            - name: KAFKA_BROKERCONNECT
              value: "kafka-0.kafka.davtrowebdbvault.svc.cluster.local:9092"
            - name: JVM_OPTS
              value: "-Xms32M -Xmx64M"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: davtrowebdbvault
spec:
  ports:
    - port: 9000
      targetPort: 9000
  selector:
    app: kafka-ui
