apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
  namespace: davtrowebdbvault
data:
  # To jest unikalne ID naszego brokera (StatefulSet name + index).
  # W tym wdrożeniu uproszczonym mamy tylko 1 replikę.
  KAFKA_BROKER_ID: "1"
  # Unikalny identyfikator klastra KRaft (może być wygenerowany komendą 'kafka-storage.sh random-uuid')
  KAFKA_CLUSTER_ID: "8u1V3A6G9eI5fC2B4zJ7kT0qM8rN4pQ"
  # Adres serwera kontrolera (kafka-0.kafka.namespace.svc.cluster.local:9093)
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-0.kafka.davtrowebdbvault.svc.cluster.local:9093"
  # Konfiguracja KRaft
  KAFKA_CFG_NODE_ID: "1"
  KAFKA_CFG_PROCESS_ROLES: "controller,broker"
  KAFKA_CFG_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
  KAFKA_CFG_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
  KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
  KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
  KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
  KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
