apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: davtrowebdbvault
spec:
  clusterIP: None
  ports:
    - port: 9092
      name: client
  selector:
    app: kafka
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: davtrowebdbvault
spec:
  serviceName: kafka
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: apache/kafka:4.1.0 # Oficjalny obraz Apache
          env:
            - name: CLUSTER_ID
              value: "4mUj5vFk3tW7pY0iH2gR8qL6eD9oB1cZ"
            - name: NODE_ID
              value: "0"
            - name: PROCESS_ROLES
              value: "controller,broker"
            - name: CONTROLLER_QUORUM_VOTERS
              value: "0@kafka-0.kafka.davtrowebdbvault.svc.cluster.local:9093"
            - name: LISTENERS
              value: "PLAINTEXT://:9092,CONTROLLER://:9093"
            - name: ADVERTISED_LISTENERS
              value: "PLAINTEXT://kafka-0.kafka.davtrowebdbvault.svc.cluster.local:9092"
            - name: LISTENER_SECURITY_PROTOCOL_MAP
              value: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
            - name: CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: INTER_BROKER_LISTENER_NAME
              value: "PLAINTEXT"
            - name: AUTO_CREATE_TOPICS_ENABLE
              value: "true"
          command:
            - "sh"
            - "-c"
            - |
              echo "Formatting storage..."
              kafka-storage.sh format -t $CLUSTER_ID -c /kafka/config/kraft/server.properties
              echo "Starting Kafka..."
              kafka-server-start.sh /kafka/config/kraft/server.properties
          ports:
            - containerPort: 9092
            - containerPort: 9093
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
          readinessProbe:
            tcpSocket:
              port: 9092
            initialDelaySeconds: 60
            periodSeconds: 20
          livenessProbe:
            tcpSocket:
              port: 9092
            initialDelaySeconds: 60
            periodSeconds: 30
          volumeMounts:
            - name: data
              mountPath: /tmp/kafka-logs
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 8Gi
