apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: davtrowebdbvault
  labels:
    app: kafka
    component: kafka
spec:
  serviceName: kafka
  replicas: 1
  selector:
    matchLabels:
      app: kafka
      component: kafka
  template:
    metadata:
      labels:
        app: kafka
        component: kafka
    spec:
      containers:
        - name: kafka
          image: bitnami/kafka:3.8.0-debian-12-r1
          env:
            - name: KAFKA_CFG_NODE_ID
              value: "1"
            - name: KAFKA_CFG_PROCESS_ROLES
              value: "controller,broker"
            - name: KAFKA_CFG_CONTROLLER_QUORUM_VOTERS
              value: "1@kafka:9093"
            - name: KAFKA_CFG_LISTENERS
              value: "CLIENT://:9092,INTERNAL://:9093"
            - name: KAFKA_CFG_ADVERTISED_LISTENERS
              value: "CLIENT://kafka:9092,INTERNAL://kafka:9093"
            - name: KAFKA_CFG_KRAFT_CLUSTER_ID
              value: "4mUj5vFk3tW7pY0iH2gR8qL6eD9oB1cZ"
          ports:
            - containerPort: 9092
              name: client
            - containerPort: 9093
              name: internal
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
