apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki
  namespace: davtrowebdbvault
spec:
  serviceName: loki
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
      - name: loki
        image: grafana/loki:2.9.2
        ports:
        - containerPort: 3100
---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: davtrowebdbvault
spec:
  ports:
  - port: 3100
    targetPort: 3100
  selector:
    app: loki
