apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tempo
  namespace: davtrowebdbvault
  labels:
    app: tempo
    app.kubernetes.io/instance: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  serviceName: tempo
  template:
    metadata:
      labels:
        app: tempo
    spec:
      containers:
        - name: tempo
          image: grafana/tempo:2.4.2
          ports:
            - containerPort: 3200
              protocol: TCP
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
            requests:
              cpu: "100m"
              memory: "256Mi"
          volumeMounts:
            - name: tempo-storage
              mountPath: /tmp/tempo
          args:
            - -storage.trace.backend=local
            - -storage.trace.local.path=/tmp/tempo/traces
            - -compactor.compaction.compaction-window=1h
            - -compactor.compaction.block-retention=24h
      volumes:
        - name: tempo-storage
          emptyDir: {}
