apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vault
  namespace: davtrowebdbvault
  labels:
    app: vault
    environment: development
spec:
  serviceName: vault
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
        environment: development
    spec:
      initContainers:
      - name: copy-config
        image: busybox:1.36.1 
        command: ['sh', '-c', 'cp /tmp/config/vault.hcl /vault/config/']
        volumeMounts:
        - name: vault-config-cm       # Źródło: ConfigMap (Read-only)
          mountPath: /tmp/config
        - name: vault-config-writable # Cel: EmptyDir (Writable)
          mountPath: /vault/config
      containers:
      - name: vault
        image: hashicorp/vault:1.15.3
        args: ["server","-config=/vault/config/vault.hcl"]
        ports:
        - containerPort: 8200
        securityContext: # Dodano IPC_LOCK na wypadek, gdyby Vault nie zignorował mlock
          capabilities:
            add: ["IPC_LOCK"]
        volumeMounts:
        - name: vault-config-writable # Montujemy writable EmptyDir
          mountPath: /vault/config
        - name: vault-data
          mountPath: /vault/data
      volumes:
      - name: vault-config-cm # ConfigMap montowany tylko do InitContainera
        configMap:
          name: vault-config
      - name: vault-config-writable # Writable volume dla configu
        emptyDir: {}
  volumeClaimTemplates:
  - metadata:
      name: vault-data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: davtrowebdbvault
  labels:
    app: vault
    environment: development
spec:
  ports:
  - port: 8200
  selector:
    app: vault
