apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-exporter-config
  namespace: davtrowebdbvault
  labels:
    app: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    app.kubernetes.io/name: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
    app.kubernetes.io/instance: website-db-vault-kaf-redis-arg-kust-kyv-gra-loki-temp-pgui
data:
  postgres_exporter.yml: |
    # Postgres Exporter Configuration
    # Connection settings will be provided via environment variables

    # Default metrics collection
    # See: https://github.com/prometheus-community/postgres_exporter

    # Collect general statistics
    pg_stat_database:
      query: |
        SELECT
          datname,
          numbackends,
          xact_commit,
          xact_rollback,
          blks_read,
          blks_hit,
          tup_returned,
          tup_fetched,
          tup_inserted,
          tup_updated,
          tup_deleted,
          conflicts,
          temp_files,
          temp_bytes,
          deadlocks,
          blk_read_time,
          blk_write_time,
          stats_reset
        FROM pg_stat_database
      metrics:
        - datname:
            usage: "LABEL"
            description: "Database name"
        - numbackends:
            usage: "GAUGE"
            description: "Number of backends currently connected to this database"
        - xact_commit:
            usage: "COUNTER"
            description: "Number of transactions committed"
        - xact_rollback:
            usage: "COUNTER"
            description: "Number of transactions rolled back"
        - blks_read:
            usage: "COUNTER"
            description: "Number of disk blocks read"
        - blks_hit:
            usage: "COUNTER"
            description: "Number of buffer hits"
        - tup_returned:
            usage: "COUNTER"
            description: "Number of rows returned"
        - tup_fetched:
            usage: "COUNTER"
            description: "Number of rows fetched"
        - tup_inserted:
            usage: "COUNTER"
            description: "Number of rows inserted"
        - tup_updated:
            usage: "COUNTER"
            description: "Number of rows updated"
        - tup_deleted:
            usage: "COUNTER"
            description: "Number of rows deleted"
        - conflicts:
            usage: "COUNTER"
            description: "Number of queries canceled due to conflicts"
        - temp_files:
            usage: "COUNTER"
            description: "Number of temporary files created"
        - temp_bytes:
            usage: "COUNTER"
            description: "Total amount of data written to temporary files"
        - deadlocks:
            usage: "COUNTER"
            description: "Number of deadlocks detected"
        - blk_read_time:
            usage: "COUNTER"
            description: "Time spent reading data file blocks by backends"
        - blk_write_time:
            usage: "COUNTER"
            description: "Time spent writing data file blocks by backends"
